// breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

:root {

	--font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
	--font-family-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
  --font-size-small: 12px;
  --body-color: #1a1a1a;

  --primary-color: #3BE9DE;
  --header-bg: #1a1a1a;

  --home-link-color: #4c4ae4;
  --home-link-hover-color:  var(--primary-color);

  --button-color: #3BE9DE;
  --button-alternate-color: #4c4ae4;

  --post-link-color: #4c4ae4;


  --nav-link-hover-bg: #111;
  --text-color-meta: rgba(0,0,0,0.5);

  --label-text: rgba(0,0,0,0.5);
  --input-focus-border: #83AAAC;
  
  // CSS Grid Utility
  --grid-gap: 30px; 

}